.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 1024px) and (width >= 375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
