.header__subtitle {
  color: var(--article-title-color);
  font-weight: 700;
  width: 50%;
  align-self: center;
  justify-self: end;
  margin-block-end: 20px;
}

@media (width < 425px) {
  .header__subtitle {
    width: 100%;
    margin-block-end: 10px;
  }
}
