.article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-causes .article-item {
  flex: 0 0 auto;
  width: 32%;
}

@media (width < 1024px) and (width >= 375px) {
  .section-causes .article-item {
    flex: 1 0 auto;
    width: 100%;
    gap: 12px;
  }
}
