.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-inline-start: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  text-transform: lowercase;
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .header__title {
    margin-inline-start: -3%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
    line-height: 82.5%;
  }
}
